@charset "Shift_JIS";

/*__________________________________________________

  mainVis (メインビジュアル)
  __________________________________________________*/

* html　.mainVis {
	width: 740px;
	height: 100px;
	margin: 20px 0 20px 20px;
	padding: 0;
	text-align: left;
	}

/*__________________________________________________

  mainContentsBox (メインコンテンツボックス)
  __________________________________________________*/

* html .mainContentsBox {
	width: 760px;
	margin: 0;
	padding: 0;
	text-align: left;
	}

/*__________________________________________________

  bannerBox (バナーボックス)
  __________________________________________________*/

* html .bannerBox03 {
	width: 534px;
	height: 100px;
	margin: 0 0 10px 130px;
	padding: 0;
	}